/*td.binderNavMain
{
	background-color	: #efefef;
	padding				: 5px 10px;
}  */

td.binderNavMain a img
{
	margin-left			: 10px;
}

/*
td.binderNavTop
{
	background-color	: #efefef;
	border-top			: solid 1px #aeaeae;
}

td.binderNavBottom
{
	background-color	: #efefef;
	border-bottom		: solid 1px #aeaeae;
}

td.binderNavRight
{
	background-color	: #efefef;
	border-right		: solid 1px #aeaeae;
}

table.binderNav
{
	position			: relative;
	left				: -1px;
	margin-bottom		: 10px;
	margin-top			: 10px;
}

*/

.EditMenu, a.EditMenu:link
{
	font-size			: 10pt;
	padding-top			: 3px;
}

.SegMenuItem
{
	font-family			: "MS Shell Dlg", arial, helvetica, san-serif;
	font-size			: 10pt;
	line-height			: 10pt;
	font-weight			: bold;
	color				: #003399;
	padding-left		: 1pt;
	padding-right		: 1pt;

	cursor:hand;
}
.SegMenuItemDisabled
{
	font-family			: "MS Shell Dlg", arial, helvetica, san-serif;
	font-size			: 10pt;
	line-height			: 10pt;
	font-weight			: bold;
	color				: #003399;
	padding-left		: 1pt;
	padding-right		: 1pt;
	font-style			: italic;
	cursor				: default;
}

.SegMenuItemOn
{
	font-family			: "MS Shell Dlg", arial, helvetica, san-serif;
	font-size			: 10pt;
	line-height			: 10pt;
	font-weight			: bold;
	color				: #003399;
	padding-left		: 1pt;
	padding-right		: 1pt;
	cursor				: hand;
}

.SegMenuItemOn td, .SegMenuItem td, .SegMenuItemDisabled td
{
	white-space			: nowrap;
}

.PopMenuItem, .PopMenuItemDisabled, .PopMenuItemOn
{
	font-family			: "MS Shell Dlg", arial, helvetica, san-serif;
	font-size			: 10px;
	line-height			: 10px;
	font-weight			: bold;
	color				: #000000;
	cursor				: hand;
	background			: #f3cb13;
	border-bottom		: 1px solid #ff9900;
}

.PopMenuItemDisabled
{

	color				: #666666;
	background			: #f3cb13;
	cursor				: default;
}

.PopMenuItemOn
{

	color				: #000000;
	cursor				: hand;
	background			: #ffff99;
}

.MenuGroup
{
	background			: #f3cb13;
	/*border-bottom		: .5pt solid #ff9900;*/
	border				: solid 1px #999999;
}

.rowlocate
{
	background-color	: #feefc7;
}

.itemlabel
{
	FONT-WEIGHT			: bold;
	FONT-SIZE			: 8pt;
	TEXT-ALIGN			: right;
	padding-left		: 4px;
	padding-right		: 2px;
}

.SearchTitle
{
	font-size			: 10pt;
	font-weight			: bold;
	padding-left		: 8px;
	COLOR				: #003399;
}

span.ErrorText
{
	color				: #ff0000;
	font-family			: "MS Shell Dlg", arial, helvetica, san-serif;
}

tr.HeaderPanel
{
	border-right		: #95b7f3 1px solid;
	border-left			: #95b7f3 1px solid;
	border-top			: #95b7f3 1px solid;
	border-bottom		: #95b7f3 1px solid;
	color				: #003399;
	font-weight			: bold;
	font-size			: 10pt;
	width				: 100%;
	background-image	: url(../i/partgrad2.gif);
	background-repeat	: repeat-x;
	background-color	: #9ebff6;
}

td.BorderBottom
{
	border-bottom		: #95b7f3 1px solid;
}

table.border
{
   	border-righT		: #95b7f3 1px solid;
   	border-top			: #95b7f3 1px solid;
   	font-size			: 10pt;
   	border-left			: #95b7f3 1px solid;
}

.rowhighlight
{
	BORDER-BOTTOM		: #95b7f3 1px solid;
	BACKGROUND-COLOR	: #fee197;
}

.ButtonBar
{
	background			: #c0d0f0;
	background-image	: url('../i/buttonbarbackground.jpg');
	border-bottom		: 1px solid #7a96cc;
	border				: 1px solid #7a96cc;
	padding-left		: 40px;
	padding-right		: 40px;
	white-space			: nowrap;
	height				: 24px;
}

a:link.ButtonBar, a:visited.ButtonBar
{
	font-size			: 10pt;
}

a:link.Button, a:visited.Button
{
	height				: 24px;
	width				: 80px;
	font-size			: 10pt;
	font				: Trebuchet MS, Arial, sans-serif;
	margin				: 0;
	color				: Black;
	text-align			: center;
	vertical-align		: middle;
	padding-top			: 8px;
	padding-left		: 14px;
	padding-right		: 14px;
	padding-bottom		: 8px;
	background			: #c0d0f0;
	background-image	: url('../i/buttonbackground.jpg');
}

a:hover.Button, a:hover.ButtonBar
{
   	color				: #2254b1;
   	text-decoration		: none;
	background			: #dee9ff;
	cursor				: hand;
}

.ButtonSeperator
{
	height				: 24px;
	width				: 2px;
	border-left			: 1px solid #7a96cc;
	background			: white;
	vertical-align		: middle;
}

.ButtonListStart
{
	height				: 24px;
	width				: 1px;
	background-color	: #7a96cc;
	vertical-align		: middle;
}

.ButtonListEnd
{
	height				: 24px;
	width				: 1px;
	background-color	: #7a96cc;
	vertical-align		: middle;
}

.itemlabel
{
	font-weight			: bold;
	font-size			: 8pt;
	text-align			: right;
	padding-left		: 4px;
	padding-right		: 2px;
}

.columnlabel
{
   	font-weight			: bold;
   	font-size			: 8pt;
   	text-align			: center;
   	background-color	: Gainsboro;
	border-left			: 1px solid silver;
	border-right		: 1px solid silver;
	border-bottom		: 1px solid silver;
	padding-top			: 2px;
	padding-bottom		: 2px;
}

.rowitem
{
   	font-size			: 8pt;
	border-left			: 1px solid silver;
	border-right		: 1px solid silver;
	border-bottom		: 1px solid #ece9d8;
	padding-left		: 4px;
	padding-right		: 4px;
	padding-top			: 2px;
	padding-bottom		: 2px;
	text-align			: center;
}

.rowitemhighlight
{
   	font-size			: 8pt;
	border-left			: 1px solid silver;
	border-right		: 1px solid silver;
	border-bottom		: 1px solid #ece9d8;
	padding-left		: 4px;
	padding-right		: 4px;
	padding-top			: 2px;
	padding-bottom		: 2px;
	text-align			: center;
   	background-color	: #fee197;
}

.rowitemhighlightedit
{
	font-size			: 8pt;
	border-left			: 1px solid silver;
	border-right		: 1px solid silver;
	border-bottom		: 1px solid #ece9d8;
	padding-left		: 4px;
	padding-right		: 4px;
	padding-top			: 2px;
	padding-bottom		: 2px;
	text-align			: center;
	background-color	: #fee197;
	cursor				: hand;
}

.provhighlight
{
	background-color	: #fee197;
}

.Dialogs
{
	background			: buttonface;
	border-top			: 2px solid buttonhighlight;
	border-left			: 2px solid buttonhighlight;
	border-bottom		: 2px solid buttonshadow;
	border-right		: 2px solid buttonshadow;
	font				: menu;
	position			: absolute;
	left				: 0;
	top					: 0;
	padding				: 0;
	margin				: 0;
}

.DialogCaption
{
	font-weight			: bold;
	background-color	: #a4c8ee;
	color				: black;
	border-bottom		: 1px solid black;
	padding-left		: 8px;
	padding-right		: 4px;
	padding-bottom		: 2px;
	padding-top			: 2px;
   	font-size			: 10pt;
	font-family			: "MS Shell Dlg", arial, helvetica, san-serif;
	cursor				: default;
}

.DialogToolBar
{
	border-right		: #95b7f3 1px solid;
	padding-top			: 2px;
	padding-bottom		: 2px;
	padding-right		: 8px;
	padding-left		: 8px;
	border-top			: #95b7f3 1px solid;
	font-size			: 10pt;
	background-image	: url(../i/toolgrad.gif);
	border-left			: #95b7f3 1px solid;
	color				: #2254b1;
	border-bottom		: #95b7f3 1px solid;
	background-repeat	: repeat-x;
	background-color	: #9ebff6;
	text-align			: center;
}

.DialogBody
{
	padding-top			: 2px;
	padding-bottom		: 8px;
	padding-left		: 8px;
	padding-right		: 8px;
   	font-size			: 10pt;
}

.ExternalContentMessage
{
	width				: 100%;
	text-align			: center;
	font-size			: 12px;
}

.ContentWrapperParagraph
{
	padding				: 0px;
}

.colorTableOuter
{
	background			: #bbbbbb;
}

.colorTableInnerSep
{
	background			: #ccccff;
}

.colorTableInner
{
	background			: #ffffff;
}

.colorTableSepBack
{
	background			: #ccccff;
}

.colorLowerBack
{
	background			: url(../i/body_lower_back.gif);
}

.textTableColHeader
{
	background			: url(../i/table_head_back.gif);
	color				: #666699;
	font-weight			: bold;
}

.textTableItem
{
	color				: #333333;
	padding-left		: 0px;
	padding-right		: 0px;
	padding-top			: 5px;
	padding-bottom		: 5px;
}

a.linkTable:link
{
	color				: #2254b1;
	text-decoration		: none;
}

a.linkTable:active
{
	color				: #2254b1;
	text-decoration		: none;
}

a.linkTable:visited
{
	color				: #2254b1;
	text-decoration		: none;
}

a.linkTable:hover
{
	color				: #2254b1;
	text-decoration		: underline;
}

.textItem, .revisedItem
{
	padding-left		: 0px;
	padding-right		: 0px;
	padding-top			: 2px;
	padding-bottom		: 2px;
}

.textItemOn, .revisedItemOn
{
	background			: #fee197;
	padding-left		: 0px;
	padding-right		: 0px;
	padding-top			: 2px;
	padding-bottom		: 2px;
}

.textTable
{
	font-family			: "MS Shell Dlg", arial, helvetica, san-serif;
	font-size			: 11px;
	line-height			: 11px;
	border-top			: 1px solid #bbbbbb;
	width				: 100%;
}

.textTableHeader
{
	background			: url(../i/table_head_back.gif);
	color				: #666699;
	font-size			: 12px;
	line-height			: 12px;
	font-weight			: bold;
}

.textTableCellHeader
{
	padding-left		: 4px;
	height				: 18px;
}

.textTableCellChecker
{
	border-bottom		: 1px solid #dcdedd;
	width				: 5px;
	background-color	: #cccccc;
	text-align			: left;
}

.textTableCell
{
	border-bottom		: 1px solid #ccccff;
	padding-left		: 4px;
	 color				: #333333;
}

.textTableCommandBar
{
	border-top			: 1px solid #7a96cc;
	border-bottom		: 1px solid #7a96cc;
	background			: #c8e2fb;
	padding-top			: 2px;
	padding-bottom		: 2px;
}

.textTableCommandItem
{
	color				: #2254b1;
	font-weight			: bold;
	padding				: 1px 2px 1px 4px ;
	text-decoration		: none;
	font-size			: 11px;
	font-weight			: bold;
}

.textTableCommandSeperatorCell
{
	padding-left		: 6px;
	padding-right		: 2px;
}

.textTableCommandSeperator
{
	background			: #ffffff;
	width				: 2px;
	height				: 20px;
}

.textTableIcon
{
	padding-right		: 4px;
	border-width		: 0px;
	vertical-align		: middle;
}

.textBinderItemTitle
{
	font-family			: "MS Shell Dlg", arial, helvetica, san-serif;
	font-size			: 12px;
	padding-left		: 5px;
	line-height			: 11px;
}

.textBinderItemName
{
	font-family			: "MS Shell Dlg", arial, helvetica, san-serif;
	font-size			: 9px;
}

/* Drag-drop feature */
.textTableCellDragDrop, .textTableCellDragDropDisabled
{
	border-bottom		: 1px solid #ccccff;
	cursor				: hand;
}

.textTableCellDragDropDisabled
{
	padding				: 2px 0px 2px 0px;
	cursor				: auto;
}

.textTableCellDragDropDisabled img.dragHandle
{
	visibility			: hidden;
}

.leftArrow
{
	font-size			: 0px;
	line-height			: 0%;
	width				: 0px;
	border-top			: solid #eeeeee;
	border-right		: solid #ff7a1f;
	border-bottom		: solid #eeeeee;
	position			: absolute;
}

.rightArrow
{
	font-size			: 0px;
	line-height			: 0%;
	width				: 0px;
	border-top			: solid #eeeeee;
	border-left			: solid #ff7a1f;
	border-bottom		: solid #eeeeee;
	position			: absolute;
}

/* CALENDAR STYLE */
.Calendar .MonthTitle
{
	background-color	: gray;
	border				: solid thin black;
	font-weight			: bold;
}

.Calendar .OtherMonthDay
{
	color				: silver;
	font-weight			: lighter;
}

.Calendar a:hover
{
	background-color	: #fee197;
}

.Calendar .Day
{
	color				: black;
	font-weight			: bolder;
}

/* Section Header Style With bottom border */
.SectionTitle
{
    font-size			: 15px;
    border-bottom		: solid thin black;
    margin-bottom		: 10px;
    padding				: 3px 5px;

}

.pageHelpText
{
	font-size			: 10pt;
}

.binderToc
{
	list-style-type		: none;
}