body
{
	font-family		: "MS Shell Dlg", arial, helvetica, san-serif;
	margin-left		: 0px;
	margin-top		: 0px;
	margin-right	: 0px;
	background		: #cccccc;
}

a:link, a:visited
{
	color			: #2254b1;
	text-decoration	:none;
}

a:hover
{
	color			: #2254b1;
	text-decoration	: underline;
}

.colorLogo
{
	background		: #663300;
}

.backLogo
{
	background		: url(../i/logo_back.jpg);
	font-size		: 9px;
	line-height		: 9px;
	font-weight		: bold;
	color			: #ffffff;
}

.backTab
{
	background		: #993400;
}

.backTabBottom
{
	background		: #993400;
}

.tabOn, .tabOff
{
	width			: 152px;
	text-align		: center;
	font-family		: "MS Shell Dlg", arial, helvetica, san-serif;
	font-size		: 12px;
	line-height		: 12px;
	font-weight		: bold;
	overflow		: hidden;
}

.tabOn
{
	background		: url(../i/tab_on.gif) #993400 no-repeat;
	color			: #ffffff;
}

.tabOff
{
	background		: url(../i/tab_off.gif) #993400 no-repeat;

}

.tabOff div, .tabOn div
{
	width			: 150px;
	height			: 29px;
	overflow		: hidden;
}

a.linkTab,
a.linkTab:link,
a.linkTab:active,
a.linkTab:visited,
a.linkTab:hover
{
	font-size		: 12px;
	line-height		: 12px;
	color			: #cdcdcd;
	text-decoration	: none;
}

a.linkTab:hover
{
	color			: #ffffff;
}

.textSearch
{
	font-size		: 11px;
	line-height		: 11px;
	color			: #cdcdcd;
}

#search
{
	font-size		: 11px;
	line-height		: 11px;
	color			: #000000;
	border			: 1px;
	border-color	: #CE6633;
	height			: 14px;
}

.backBread
{
	font-size		: 10px;
	line-height		: 10px;
	color			: #ffffff;
}

.selBread
{
	text-decoration	: underline;
	color			: #555555;
}

a.linkBread:link
{
	color			: #000000;
	text-decoration	: none;
}

a.linkBread:active
{
	color			: #ffffff;
	text-decoration	: none;
}

a.linkBread:visited
{
	color			: #000000;
	text-decoration	: none;
}

a.linkBread:hover
{
	color			: #ffffff;
	text-decoration	: none;
}

.backSub
{
	border			: solid gray 1;
	font-size		: 10px;
	line-height		: 20px;
	color			: #000000;
	font-weight		: bold;
	width			: 30pt;
	text-align		: center;
}

a.backSub:link
{
	color			: #000000;
	text-decoration	: none;
}

.toolSep
{
	background		: url(../i/tool_sep.gif);
	width			: 2px;
}

a.backSub:link
{
	color			: #000000;
	text-decoration	: none;
	width			: 100%;
	height			: 100%;
}

a.backSub:active
{
	background		: #f5f5f5;
	color			: #000000;
	text-decoration	: none;
	width			: 100%;
	height			: 100%;
}

a.backSub:visited
{
	color			: #000000;
	text-decoration	: none;
	width			: 100%;
	height			: 100%;
}

a.backSub:hover
{
	background		: #F5F5F5;
	color			: #000000;
	text-decoration	: none;
	width			: 100%;
	height			: 100%;
}

.backUnderSub
{
	background		: url(../i/undersub_back.gif);
}

.textBodyTitle
{
	background		: url(../i/body_upper_back.gif) white repeat-x;
	font-size		: 16px;
	font-weight		: bold;
	padding-top		: 6px;
	padding-bottom	: 6px;
}

.textBodyHeader
{
	background		: #ffffff;
	font-size		: 10px;
}

.colorTableOuter
{
	background		: #bbbbbb;
}

.colorTableInnerSep
{
	background		: #ccccff;
}

.colorTableInner
{
	background		: #ffffff;
}

.colorTableSepBack
{
	background		: #ccccff;
}

.colorLowerBack
{
	background		: url(../i/body_lower_back.gif);
}

.textTableColHeader
{
	background		: url(../i/table_head_back.gif);
	color			: #666699;
	font-size		: 11px;
	line-height		: 11px;
	font-weight		: bold;
}

.textTableItem
{
	color			: #333333;
	font-size		: 11px;
	line-height		: 11px;
	padding-left	: 2px;
	padding-right	: 2px;
	padding-top		: 5px;
	padding-bottom	: 5px;
}

a.linkTable:link
{
	color			: #2254b1;
	text-decoration	: none;
}

a.linkTable:active
{
	color			: #2254b1;
	text-decoration	: none;
}

a.linkTable:visited
{
	color			: #2254b1;
	text-decoration	: none;
}

a.linkTable:hover
{
	color			: #2254b1;
	text-decoration	: underline;
}

.textItem, .revisedItem
{
	font-family		: "MS Shell Dlg", arial, helvetica, san-serif;
	font-size		: 11px;
	line-height		: 12px;
	padding-left	: 0px;
	padding-right	: 0px;
	padding-top		: 5px;
	padding-bottom	: 5px;
}

.revisedItem
{
	font-style		: italic;
	background		: #f0f0f0;
}

.textItemOn, .revisedItemOn
{
	background		: #fee197;
	font-family		: "MS Shell Dlg", arial, helvetica, san-serif;
	font-size		: 11px;
	line-height		: 12px;
	padding-left	: 0px;
	padding-right	: 0px;
	padding-top		: 5px;
	padding-bottom	: 5px;
}

.revisedItemOn
{
	font-style		: italic;
}

.backBodyLeft
{
	background		: url(../i/body_left.gif);
}

.backBody
{
	background		: #eeeeee;
	padding-right	: 10px;
	padding-left	: 10px;
	padding-top		: 0px;
	padding-bottom	: 0px;
}

.backBodyRight
{
	background		: url(../i/body_right.gif);
}

.backFoot
{
	background		: url(../i/foot_back.gif);
}

.backMenu
{
	background		: #f3cb13;
	width			: 165px;
	position		: absolute;
	visibility		: hidden;
}

.colorRightClickBorder
{
	background		: #999999;
}

.backRightClick
{
	background		: url(../i/rightclick_back.jpg);
}

a.linkRightClick:link
{
	text-decoration	: none;
	color			: #000000;
}

a.linkRightClick:active
{
	text-decoration	: none;
	color			: #000000;
}

a.linkRightClick:visited
{
	text-decoration	: none;
	color			: #000000;
}

a.linkRightClick:hover
{
	text-decoration	: none;
	color			: #000000;
}

.menuItem
{
	font-family		: "MS Shell Dlg", arial, helvetica, san-serif;
	font-size		: 10px;
	line-height		: 10px;
	color			: #000000;
	padding-left	: 10px;
	padding-right	: 10px;
	padding-top		: 6px;
	padding-bottom	: 6px;
	cursor			: hand;
	width			: 163px;
}

.menuItemOn
{
	font-family		: "MS Shell Dlg", arial, helvetica, san-serif;
	font-size		: 10px;
	line-height		: 10px;
	color			: #000000;
	padding-left	: 10px;
	padding-right	: 10px;
	padding-top		: 6px;
	padding-bottom	: 6px;
	cursor			: hand;
	background		: #ffff99;
	width			: 163px;
}

/* PORTFOLIO STYLES */
.PortfolioInfo
{
	font-size		: 16px;
	font-weight		: bold;
	color			: #666666;
	text-align		: left;
}

.PortfolioDescription
{
	font			: 10pts;
}

.TabListIcon
{
	background		: url(../i/TabListIconBack.gif) #ece6b9;
	background-repeat:  no-repeat;
	width			: 0px;
	border-left		: 1px solid #debf8f;
	border-top		: 1px solid #debf8f;
	border-bottom	: 1px solid #debf8f;
	padding-left	: 4px;
}

.TabListTitle
{
	background		: url(../i/TabListTitleBack.gif) #ece6b9;
	font			: 10pts;
	color			: #666666;
	background-repeat:  repeat-x;
	border-right	: 1px solid #debf8f;
	border-top		: 1px solid #debf8f;
	border-bottom	: 1px solid #debf8f;
	padding-right	: 4px;
	text-align		: left;
	width			: 100%;
}

.TabListIconSelected
{
	background		: url(../i/TabListIconBackSelected.gif) #ffffff;
	background-repeat:  no-repeat;
	width			: 30px;
	border-left		: 1px solid #debf8f;
	border-top		: 1px solid #debf8f;
	border-bottom	: 1px solid #debf8f;
	padding-left	: 4px;
}

.TabListTitleSelected
{
	background		: url(../i/TabListTitleBackSelected.gif) #ffffff;
	font			: 10pts;
	color			: #666666;
	 background-repeat:  repeat-x;
	 border-right	: 1px solid #debf8f;
	 border-top		: 1px solid #debf8f;
	 border-bottom	: 1px solid #debf8f;
	 padding-right	: 4px;
	 text-align		: left;
	 width			: 100%;
}

.tabListTable a,
.tabListTable a:link,
.tabListTable a:hover,
.tabListTable a:active,
.tabListTable a:visited
{
	color			: #666666;
}
