<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MCLicense.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MCLicense.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <MCLicense.Properties.Settings>
      <setting name="PTCUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="ProductCodeOverride" serializeAs="String">
        <value />
      </setting>
    </MCLicense.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <MCLicense.Properties.Settings>
      <setting name="SignupUrl" serializeAs="String">
        <value>"http://www.ptc.com/appserver/common/account/basic.jsp"</value>
      </setting>
      <setting name="UICulture" serializeAs="String">
        <value>auto</value>
      </setting>
      <setting name="BaseUrl" serializeAs="String">
        <value>http://www.ptc.com/appserver/lm/programs/index.jsp</value>
      </setting>
    </MCLicense.Properties.Settings>
  </applicationSettings>
</configuration>