BODY {
	FONT-SIZE: x-small; MARGIN: 0px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.ms-main {
	
}
.ms-toolbar {
	FONT-SIZE: 0.68em; COLOR: #663399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.ms-viewselect A:link {
	FONT-SIZE: 8pt; COLOR: #ff6600; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
SELECT {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
HR {
	COLOR: #663399; HEIGHT: 2px
}
.ms-formlabel {
	FONT-WEIGHT: normal; FONT-SIZE: 0.7em; COLOR: #666666; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-ALIGN: left
}
.ms-formdescription A {
	COLOR: #663399; TEXT-DECORATION: none
}
.ms-formtable .ms-formbody {
	LINE-HEIGHT: 1.3em
}
.ms-radiotext {
	FONT-SIZE: 10pt; CURSOR: default; FONT-FAMILY: verdana, arial, helvetica, sans-serif; HEIGHT: 19px; TEXT-ALIGN: left
}
.ms-formbody {
	FONT-SIZE: 0.7em; VERTICAL-ALIGN: top; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-ALIGN: left
}
.ms-formdescription {
	FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.ms-searchbox {
	DISPLAY: inline; WIDTH: 100%
}
TABLE.ms-form TH {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; VERTICAL-ALIGN: top; COLOR: #ff6600; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-ALIGN: left
}
TABLE.ms-form TD {
	FONT-SIZE: 8pt; VERTICAL-ALIGN: top; WIDTH: 100%
}
.ms-long {
	FONT-SIZE: 8pt; WIDTH: 375px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.ms-input {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.ms-bannerframe {
	BORDER-RIGHT: medium none; BORDER-LEFT: medium none; BACKGROUND-COLOR: #878366
}
.ms-banner {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.ms-banner A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.ms-banner A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.ms-nav TD {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.ms-nav TH {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-ALIGN: left
}
.ms-navframe {
	BORDER-LEFT: medium none
}
.ms-bodyframe {
	BORDER-RIGHT: medium none
}
.ms-verticaldots {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(../images/purpledot.gif); BACKGROUND-REPEAT: repeat-y
}
.ms-nav A {
	FONT-SIZE: 8pt; COLOR: #663399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.ms-nav A:link {
	FONT-SIZE: 8pt; COLOR: #663399; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.ms-nav A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.ms-nav A:visited {
	
}
.ms-cat {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: left
}
.ms-titlearea {
	FONT-SIZE: 9pt; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.ms-titleareaframe {
	BORDER-RIGHT: medium none; BORDER-LEFT: medium none; COLOR: black
}
.ms-pagetitle {
	FONT-SIZE: 14pt; COLOR: black; FONT-FAMILY: arial
}
.ms-pagetitle A {
	COLOR: black; TEXT-DECORATION: none
}
.ms-pagetitle A:hover {
	TEXT-DECORATION: underline
}
.ms-wvsel {
	COLOR: #663399
}
.ms-selected {
	COLOR: white; BACKGROUND-COLOR: #878366
}
.ms-selected SPAN {
	COLOR: white
}
.ms-filedialog TD {
	HEIGHT: 16px
}
.ms-descriptiontext {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: verdana
}
.ms-separator {
	FONT-SIZE: 10pt; COLOR: #333333
}
.ms-authoringcontrols {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana; BACKGROUND-COLOR: #f2f2f2
}
.ms-sectionheader {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #663399; FONT-FAMILY: arial
}
.ms-sectionline {
	BACKGROUND-COLOR: #878366
}
.ms-propertysheet {
	FONT-SIZE: 0.7em; FONT-FAMILY: verdana
}
.ms-propertysheet TH {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: gray; FONT-FAMILY: verdana
}
.ms-propertysheet A {
	COLOR: #663399; TEXT-DECORATION: none
}
.ms-propertysheet A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.ms-itemheader A {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #663399; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.ms-discussiontitle {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; COLOR: black; FONT-FAMILY: verdana
}
.ms-vh {
	FONT-WEIGHT: normal; FONT-SIZE: 0.68em; VERTICAL-ALIGN: top; COLOR: #878366; FONT-FAMILY: verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.ms-vh A {
	COLOR: #878366; TEXT-DECORATION: none
}
.ms-vh A:hover {
	TEXT-DECORATION: underline
}
.ms-vb {
	FONT-SIZE: 0.68em; VERTICAL-ALIGN: top; FONT-FAMILY: verdana; HEIGHT: 18px
}
.ms-vb A {
	COLOR: #663399; TEXT-DECORATION: none
}
.ms-vb A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.ms-vb A:visited {
	COLOR: #663399; TEXT-DECORATION: none
}
.ms-vb A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.ms-homepagetitle {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; MARGIN-BOTTOM: 0px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.ms-addnew {
	FONT-WEIGHT: normal; FONT-SIZE: 0.68em; COLOR: #663399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.ms-cal {
	TABLE-LAYOUT: fixed; CURSOR: default; FONT-FAMILY: Verdana; BORDER-COLLAPSE: collapse
}
.ms-caltop {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; BORDER-LEFT: black 1px solid; WIDTH: 14%; HEIGHT: 30px
}
.ms-calhead {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 2px; BORDER-TOP: medium none; PADDING-LEFT: 2px; FONT-SIZE: 16pt; PADDING-BOTTOM: 2px; BORDER-LEFT: medium none; COLOR: white; PADDING-TOP: 2px; BORDER-BOTTOM: medium none; FONT-FAMILY: verdana; BACKGROUND-COLOR: #663399; TEXT-ALIGN: center
}
.ms-caldow {
	BORDER-RIGHT: #222222 1px solid; BORDER-TOP: #222222 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; BORDER-LEFT: #222222 1px solid; HEIGHT: 20px; TEXT-ALIGN: center
}
.ms-calmid {
	BORDER-RIGHT: #222222 1px solid; BORDER-LEFT: #222222 1px solid; HEIGHT: 20px
}
.ms-CalSpacer {
	BORDER-RIGHT: #222222 1px solid; BORDER-LEFT: #222222 1px solid; HEIGHT: 4px
}
.ms-calbot {
	BORDER-RIGHT: #222222 1px solid; BORDER-TOP: medium none; BORDER-LEFT: #222222 1px solid; BORDER-BOTTOM: #222222 1px solid; HEIGHT: 2px
}
.ms-appt A {
	COLOR: #222222
}
.ms-apptsingle A {
	COLOR: #222222
}
.ms-appt A:hover {
	COLOR: #ff6600
}
.ms-apptsingle A:hover {
	COLOR: #ff6600
}
.ms-appt {
	BORDER-RIGHT: #222222 2px solid; BORDER-TOP: #222222 2px solid; FONT-SIZE: 8pt; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #222222 2px solid; COLOR: #222222; BORDER-BOTTOM: #222222 2px solid; FONT-FAMILY: verdana; HEIGHT: 18px; BACKGROUND-COLOR: #ccccff; TEXT-ALIGN: center
}
.ms-apptsingle {
	BORDER-RIGHT: #222222 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #222222 2px solid; PADDING-LEFT: 4px; FONT-SIZE: 8pt; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #222222 2px solid; COLOR: #222222; BORDER-BOTTOM: #222222 2px solid; FONT-FAMILY: verdana; HEIGHT: 18px; BACKGROUND-COLOR: #ccccff; TEXT-ALIGN: center
}
.ms-caldowdown {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
.ms-caldown {
	FONT-SIZE: 8pt; VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
.ms-datepickeriframe {
	DISPLAY: none; BACKGROUND: white; POSITION: absolute
}
.ms-datepicker {
	BORDER-RIGHT: activeborder 2px outset; BORDER-TOP: activeborder 2px outset; BORDER-LEFT: activeborder 2px outset; CURSOR: default; BORDER-BOTTOM: activeborder 2px outset; FONT-FAMILY: Verdana
}
.ms-dpdow {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: top; BORDER-LEFT: medium none; BORDER-BOTTOM: #222222 1px solid; TEXT-ALIGN: center
}
.ms-dpday {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 8pt; BORDER-LEFT: medium none; CURSOR: hand; BORDER-BOTTOM: medium none; TEXT-ALIGN: center
}
.ms-dpselectedday {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 8pt; BORDER-LEFT: medium none; CURSOR: hand; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: center
}
.ms-dpnonmonth {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 8pt; BORDER-LEFT: medium none; CURSOR: hand; COLOR: gray; BORDER-BOTTOM: medium none; TEXT-ALIGN: center
}
.ms-dphead {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: medium none; COLOR: white; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #5f8ac5; TEXT-ALIGN: center
}
.ms-dpnextprev {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: medium none; CURSOR: hand; COLOR: white; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #5f8ac5; TEXT-ALIGN: center
}
.ms-dpfoot {
	BORDER-RIGHT: medium none; BORDER-TOP: 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; FONT-STYLE: italic; HEIGHT: 24px; TEXT-ALIGN: center
}
IMG.ms-button {
	CURSOR: hand
}
.ms-announcementtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #663399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.ms-announcementtitle A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #663399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.ms-announcementtitle A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.ms-homepagetitle:hover {
	
}
.ms-discussionseperator {
	COLOR: #ff6600; HEIGHT: 1px
}
